* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 18, 18);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    overflow-y: auto;
    padding: 20px;
    background-size: cover;
    margin: 0;
}

.scale {
    width: 35vw;
    height: 35vw;
    max-width: 90vh;  /* Keeps it responsive in portrait mode too */
    max-height: 90vh;
    min-width: 20vw;
    min-height: 20vw;
    position: relative;
}

.outer {
    width: 100%;
    height: 100%;
    border: 0.1vw solid orange;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -0.5vw 1vw 6vw rgba(0, 0, 0, 1);
    z-index: 2;
}

.inner {
    width: 83%;
    height: 83%;
    border: 0.1vw solid orange;
    border-radius: 50%;
    box-shadow: -0.5vw 1vw 6vw rgba(0, 0, 0, 1) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    color: white;
    z-index: 3;
}

#Remaining {
    font-size: 3.5vw;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevents interaction blocking */
    z-index: 4;
}

circle {
    fill: none;
    stroke: url(#GradientColor);
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

